* {
   margin: 0;
   padding: 0;
   font-family: __inter_Fallback_20b187, ui-sans-serif, system-ui, -apple-system, "system-ui", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #000;
   /* Black background color */
   overflow-y: auto;
   /* Enable vertical scrollbar for the entire body */
   height: 1000vh;
}

.background-image {
   position: absolute;
   /* Position the image fixed to the viewport */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../assets/bg.jpg');
   /* Set the background image */
   background-size: cover;
   /* Cover the entire viewport */
   z-index: -1;
   /* Place the image behind other content */
}

nav {
   position: fixed;
   /* Fix the navigation bar position */
   top: 2%;
   /* Set the distance from the top */
   left: 50%;
   /* Center the navigation bar horizontally */
   transform: translateX(-50%);
   /* Adjust horizontal centering */
   padding: 15px;
   border-radius: 20px;
   margin-bottom: 20px;
   width: 70%;
   /* Set the width of the navigation bar */
   max-width: 360px;
   /* Set the maximum width of the navigation bar */
   z-index: 2;
   background-color: rgb(187, 177, 177);
   /* Fallback color */
   background-color: rgba(176, 165, 165, 0.4);

}

nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: center;
   /* Center the navigation links */
}

nav ul li {
   display: inline;
   margin-right: 10px;
}

nav ul li a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   padding: 8px 12px;
      border-radius: 20px;
   transition: background-color 0.3s;
}

nav ul li a:hover {
   background-color: #555;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
   nav {
      width: 85%;
      /* Adjust width for smaller screens */
      max-width: none;
      /* Remove maximum width for smaller screens */
   }
}

.content1 {
   text-align: center;
   padding-top: 17%;
}

.first-heading {
   color: rgb(238, 10, 105);
   font-size: 60px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: normal;
   padding: 5%;
   }
   
   @media only screen and (max-width: 600px) {
      .first-heading {
         font-size: 25px;
         /* Change to one column for smaller screens */
      }
}

.second-heading {
   color: white;
   font-size: 80px;
   font-style: normal;
   font-weight: 500;
   margin-top: 7px;
}
@media only screen and (max-width: 600px) {
   .second-heading {
      font-size: 60px;
      /* Change to one column for smaller screens */
   }
}
.third-heading {
   color: white;
   font-size: 15px;
   margin-top: 20px;
}

/* home-page button section */
.bt {
   padding-top: 30px;
}

.button {
   border-color: rgb(223, 219, 219);
   border: 1px solid;
   padding: 15px 40px;
   font-size: 10px;
   background-color: transparent;
   color: white;
   font-weight: 800;
}

.about {
   padding-top: 8%;
      padding-left: 7%;
      padding-right: 7%;
   color: white;

}

.skills {
   color: white;
   padding-top: 6%;
   padding-left: 7%;
      padding-right: 7%;
}

.subskills1 {
   gap: 6px;
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;}

.subskills1 span {
   padding: 5px;
   border-radius: 2px;
   border: 1px solid #333333;
   background-color: #232323;
   box-shadow: 0 2px 3px #0000003d;
}
.experience {
   padding-top: 50px;
   color: white;
   padding-left: 5%;
   padding-right: 5%;
}


.projects {
   padding-top: 50px;
   color: white;
   padding-left: 5%;
   padding-right: 5%;
}

.projects .grid-container {
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   /* 2 columns */
   grid-gap: 10px;
   /* Space between boxes */
}

@media only screen and (max-width: 600px) {
   .projects .grid-container {
      grid-template-columns: repeat(1, 1fr);
      /* Change to one column for smaller screens */
   }
}

.pbox {

   height: 160px;
   border-radius: 5px;
   border: 1px solid rgb(68, 68, 68);
   background-color: rgb(26, 24, 24);
   /* Adjust height as needed */
}

.blogs {
   padding-top: 50px;
   color: white;
   padding-left: 5%;
   padding-right: 5%;
}

.blogs .grid-container {
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   /* 2 columns */
   grid-gap: 10px;
   /* Space between boxes */
}

@media only screen and (max-width: 600px) {
   .blogs .grid-container {
      grid-template-columns: repeat(1, 1fr);
      /* Change to one column for smaller screens */
   }
}

.blogs .pbox {

   height: 120px;
   border-radius: 5px;
   border: 1px solid rgb(68, 68, 68);
   background-color: rgb(26, 24, 24);
   /* Adjust height as needed */
}

.experience,
.projects,
.blogs {
   position: relative;
   z-index: 0;
   /* Set the z-index of these sections lower than nav */
}

.additional-sections {
   display: flex;
   flex-wrap: wrap;
   padding-top: 20px;
}

.first-div {
   flex: 1;
   /* Set the width of the first div */
   height: 200px;
   /* Example height */
   background-color: red;
   /* Example background color */
}

.second-div {
   flex: 1;
   /* Set the width of the second div */
   height: 200px;
   /* Example height */
   background-color: blue;
   /* Example background color */
}

@media only screen and (max-width: 600px) {
   .additional-sections {
      flex-direction: column;
      /* Change flex direction to column for smaller screens */
   }

   .second-div {
      margin-top: 1px;
      /* Add margin to separate the second div from the first div */
   }
}